# =========================
# DATASETS
# =========================
ml/datasets/*
!ml/datasets/README.md

ml/cleaned_data/
ml/final_training_dataset.csv

# =========================
# MODELS
# =========================
ml/saved_models/

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc

# Virtual Environment
myenv311/
.venv/
env/backend/.env
backend/.env
